<a href="https://colab.research.google.com/github/YigitBCesur/Finance-and-Trading/blob/main/Get_Live_Historical_Data_Fundamentals_of_Stock(s).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HOW TO GET LIVE STOCK DATA IN PYTHON

--- Get Stock Information in Python ---

In [145]:
! pip install yfinance
! pip install --upgrade pandas_datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.85)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.25.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 5.2 MB/s
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (1.25.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [146]:
! pip install yahoo-fin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yahoo-fin in /usr/local/lib/python3.7/dist-packages (0.8.9.1)
Requirement already satisfied: requests-html in /usr/local/lib/python3.7/dist-packages (from yahoo-fin) (0.10.0)
Requirement already satisfied: feedparser in /usr/local/lib/python3.7/dist-packages (from yahoo-fin) (6.0.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from yahoo-fin) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from yahoo-fin) (2.28.1)
Requirement already satisfied: sgmllib3k in /usr/local/lib/python3.7/dist-packages (from feedparser->yahoo-fin) (1.0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo-fin) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo-fin) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo-fin) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->yahoo-fin) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo-fin) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo-fin) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo-fin) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo-fin) (2.10)
Requirement already satisfied: parse in /usr/local/lib/python3.7/dist-packages (from requests-html->yahoo-fin) (1.19.0)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from requests-html->yahoo-fin) (0.0.1)
Requirement already satisfied: w3lib in /usr/local/lib/python3.7/dist-packages (from requests-html->yahoo-fin) (2.0.1)
Requirement already satisfied: pyppeteer>=0.0.14 in /usr/local/lib/python3.7/dist-packages (from requests-html->yahoo-fin) (1.0.2)
Requirement already satisfied: pyquery in /usr/local/lib/python3.7/dist-packages (from requests-html->yahoo-fin) (1.4.3)
Requirement already satisfied: fake-useragent in /usr/local/lib/python3.7/dist-packages (from requests-html->yahoo-fin) (0.1.14)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (8.2.2)
Requirement already satisfied: websockets<11.0,>=10.0 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (10.4)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (1.4.4)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (4.64.1)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (4.13.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo-fin) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo-fin) (3.10.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->requests-html->yahoo-fin) (4.6.3)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests-html->yahoo-fin) (4.9.1)
Requirement already satisfied: cssselect>0.7.9 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests-html->yahoo-fin) (1.2.0)

In [147]:
from yahoo_fin.stock_info import *
import pandas as pd

### **Get Live Stock Price**

In [148]:
print(get_live_price('PLTR'))

8.40999984741211

### **Quote Table in Stock**

In [149]:
quote= get_quote_table('PLTR')
print(quote)

{'1y Target Est': 9.44, '52 Week Range': '6.44 - 23.52', 'Ask': '8.37 x 45100', 'Avg. Volume': 35789523.0, 'Beta (5Y Monthly)': 3.09, 'Bid': '8.36 x 1000', "Day's Range": '7.38 - 8.42', 'EPS (TTM)': -0.25, 'Earnings Date': 'Nov 07, 2022', 'Ex-Dividend Date': nan, 'Forward Dividend & Yield': 'N/A (N/A)', 'Market Cap': '17.494B', 'Open': 7.48, 'PE Ratio (TTM)': nan, 'Previous Close': 7.64, 'Quote Price': 8.40999984741211, 'Volume': 54867037.0}

In [175]:
pd.Series(quote)

1y Target Est                       9.44
52 Week Range               6.44 - 23.52
Ask                         8.37 x 45100
Avg. Volume                   35789523.0
Beta (5Y Monthly)                   3.09
Bid                          8.36 x 1000
Day's Range                  7.38 - 8.42
EPS (TTM)                          -0.25
Earnings Date               Nov 07, 2022
Ex-Dividend Date                     NaN
Forward Dividend & Yield       N/A (N/A)
Market Cap                       17.494B
Open                                7.48
PE Ratio (TTM)                       NaN
Previous Close                      7.64
Quote Price                         8.41
Volume                        54867037.0
dtype: object

### **Companies' Tickers SP 500**

In [150]:
print(tickers_sp500())

['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACGL', 'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AES', 'AFL', 'AIG', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL', 'ALLE', 'AMAT', 'AMCR', 'AMD', 'AME', 'AMGN', 'AMP', 'AMT', 'AMZN', 'ANET', 'ANSS', 'AON', 'AOS', 'APA', 'APD', 'APH', 'APTV', 'ARE', 'ATO', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AZO', 'BA', 'BAC', 'BALL', 'BAX', 'BBWI', 'BBY', 'BDX', 'BEN', 'BF-B', 'BIIB', 'BIO', 'BK', 'BKNG', 'BKR', 'BLK', 'BMY', 'BR', 'BRK-B', 'BRO', 'BSX', 'BWA', 'BXP', 'C', 'CAG', 'CAH', 'CARR', 'CAT', 'CB', 'CBOE', 'CBRE', 'CCI', 'CCL', 'CDAY', 'CDNS', 'CDW', 'CE', 'CEG', 'CF', 'CFG', 'CHD', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COO', 'COP', 'COST', 'CPB', 'CPRT', 'CPT', 'CRL', 'CRM', 'CSCO', 'CSGP', 'CSX', 'CTAS', 'CTLT', 'CTRA', 'CTSH', 'CTVA', 'CVS', 'CVX', 'CZR', 'D', 'DAL', 'DD', 'DE', 'DFS', 'DG', 'DGX', 'DHI', 'DHR', 'DIS', 'DISH', 'DLR', 'DLTR', 'DOV', 'DOW', 'DPZ', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN', 'DXC', 'DXCM', 'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'ELV', 'EMN', 'EMR', 'ENPH', 'EOG', 'EPAM', 'EQIX', 'EQR', 'EQT', 'ES', 'ESS', 'ETN', 'ETR', 'ETSY', 'EVRG', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FANG', 'FAST', 'FBHS', 'FCX', 'FDS', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV', 'FITB', 'FLT', 'FMC', 'FOX', 'FOXA', 'FRC', 'FRT', 'FTNT', 'FTV', 'GD', 'GE', 'GEN', 'GILD', 'GIS', 'GL', 'GLW', 'GM', 'GNRC', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GRMN', 'GS', 'GWW', 'HAL', 'HAS', 'HBAN', 'HCA', 'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOLX', 'HON', 'HPE', 'HPQ', 'HRL', 'HSIC', 'HST', 'HSY', 'HUM', 'HWM', 'IBM', 'ICE', 'IDXX', 'IEX', 'IFF', 'ILMN', 'INCY', 'INTC', 'INTU', 'INVH', 'IP', 'IPG', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITW', 'IVZ', 'J', 'JBHT', 'JCI', 'JKHY', 'JNJ', 'JNPR', 'JPM', 'K', 'KDP', 'KEY', 'KEYS', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KR', 'L', 'LDOS', 'LEN', 'LH', 'LHX', 'LIN', 'LKQ', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LRCX', 'LUMN', 'LUV', 'LVS', 'LW', 'LYB', 'LYV', 'MA', 'MAA', 'MAR', 'MAS', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'META', 'MGM', 'MHK', 'MKC', 'MKTX', 'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MOH', 'MOS', 'MPC', 'MPWR', 'MRK', 'MRNA', 'MRO', 'MS', 'MSCI', 'MSFT', 'MSI', 'MTB', 'MTCH', 'MTD', 'MU', 'NCLH', 'NDAQ', 'NDSN', 'NEE', 'NEM', 'NFLX', 'NI', 'NKE', 'NOC', 'NOW', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NVR', 'NWL', 'NWS', 'NWSA', 'NXPI', 'O', 'ODFL', 'OGN', 'OKE', 'OMC', 'ON', 'ORCL', 'ORLY', 'OTIS', 'OXY', 'PARA', 'PAYC', 'PAYX', 'PCAR', 'PCG', 'PEAK', 'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKG', 'PKI', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'POOL', 'PPG', 'PPL', 'PRU', 'PSA', 'PSX', 'PTC', 'PWR', 'PXD', 'PYPL', 'QCOM', 'QRVO', 'RCL', 'RE', 'REG', 'REGN', 'RF', 'RHI', 'RJF', 'RL', 'RMD', 'ROK', 'ROL', 'ROP', 'ROST', 'RSG', 'RTX', 'SBAC', 'SBNY', 'SBUX', 'SCHW', 'SEDG', 'SEE', 'SHW', 'SIVB', 'SJM', 'SLB', 'SNA', 'SNPS', 'SO', 'SPG', 'SPGI', 'SRE', 'STE', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYY', 'T', 'TAP', 'TDG', 'TDY', 'TECH', 'TEL', 'TER', 'TFC', 'TFX', 'TGT', 'TJX', 'TMO', 'TMUS', 'TPR', 'TRGP', 'TRMB', 'TROW', 'TRV', 'TSCO', 'TSLA', 'TSN', 'TT', 'TTWO', 'TXN', 'TXT', 'TYL', 'UAL', 'UDR', 'UHS', 'ULTA', 'UNH', 'UNP', 'UPS', 'URI', 'USB', 'V', 'VFC', 'VICI', 'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VTRS', 'VZ', 'WAB', 'WAT', 'WBA', 'WBD', 'WDC', 'WEC', 'WELL', 'WFC', 'WHR', 'WM', 'WMB', 'WMT', 'WRB', 'WRK', 'WST', 'WTW', 'WY', 'WYNN', 'XEL', 'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION', 'ZTS']

In [151]:
stock = input ("Please enter a ticker symbol  : ")

if stock in tickers_sp500():
  print ('The Stock is in the SP500 ')
else:
  print(' not in the SP500 ')

Please enter a ticker symbol  : PLTR
 not in the SP500

### **Importing Stock Prices from Yahoo Finance**

In [152]:
import yfinance as yf

**Just One Stock**

In [153]:
ticker= 'PLTR'
#PLTR = yf.download(ticker)
#PLTR = yf.download(ticker, start= '2021-01-01', end='2022-11-11', rounding=True)    # Adding dates
#PLTR = yf.download(ticker, start= '2021-01-01', end='2022-11-11', rounding=True)["Adj Close"]    # Select the column
PLTR = yf.download(ticker, start= '2021-01-01', end='2022-11-11', rounding=True)[["Adj Close", 'Volume']]    # Select the columns

[*********************100%***********************]  1 of 1 completed

In [154]:
PLTR

            Adj Close    Volume
Date
2021-01-04      23.37  44970400
2021-01-05      24.60  29050400
2021-01-06      23.54  32732900
2021-01-07      25.00  32240000
2021-01-08      25.20  41313800
...               ...       ...
2022-11-04       7.93  64257800
2022-11-07       7.02  99332800
2022-11-08       7.21  56353900
2022-11-09       6.98  42517300
2022-11-10       7.64  58579800

[469 rows x 2 columns]

**Several Stocks**

In [164]:
tickers= ['PLTR', 'QS', 'APRE', 'NIO']
#Stocks = yf.download(tickers)
Stocks = yf.download(tickers, start= '2021-01-01', end='2022-11-11', rounding=True)["Adj Close"]
#Stocks = yf.download(tickers, start= '2021-01-01', end='2022-11-11', rounding=True)["Adj Close"].T      # Transpose
Stocks

[*********************100%***********************]  4 of 4 completed

             APRE    NIO   PLTR     QS
Date
2021-01-04  4.730  53.49  23.37  49.96
2021-01-05  4.900  53.20  24.60  59.50
2021-01-06  4.900  50.50  23.54  63.03
2021-01-07  5.120  54.28  25.00  62.00
2021-01-08  5.100  58.92  25.20  56.79
...           ...    ...    ...    ...
2022-11-04  0.657  11.68   7.93   8.09
2022-11-07  0.636  10.98   7.02   7.81
2022-11-08  0.610  10.56   7.21   7.93
2022-11-09  0.589   9.25   6.98   6.74
2022-11-10  0.525  10.34   7.64   7.23

[469 rows x 4 columns]

### HISTORY on TICKER with **(+plus)** Dividends - Stock SplitsThe yfinance 

TICKER object

1- start and end dates

2- period instead of start/end

3- valid periods: 1d, 5d, Imo, 3mo, 6mo, Ty, 2y, Sy, 1Oy, ytd,max

4- valid intervals: Im, 2m, 5m, 15m, 30m, 6Om, 9Om, th, 1d, Sd, 1wk, 1mo, 3mo.

5- actions = True: Includes info on both dividends and splits. (Optional default is False)

6- prepost = True: download pre/post regular market hours data. (Optional default is False) ( FALSE= Market Hours , TRUE = PreMarket, Market , Post-Market Hours  )

### **One Stock **

In [156]:
symbol= 'AAPL'
ticker = yf.Ticker(symbol)                               # Aware of First Big Letter

**1- start and end dates**

In [157]:
df = ticker.history ( start='2019-01-01' , end='2020-12-31', rounding=True)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-02 00:00:00-05:00,37.37,38.33,37.21,38.11,148158800,0.0,0.0
2019-01-03 00:00:00-05:00,34.74,35.16,34.26,34.31,365248800,0.0,0.0
2019-01-04 00:00:00-05:00,34.87,35.84,34.70,35.77,234428400,0.0,0.0
2019-01-07 00:00:00-05:00,35.88,35.91,35.20,35.69,219111200,0.0,0.0
2019-01-08 00:00:00-05:00,36.09,36.63,35.84,36.38,164101200,0.0,0.0
...,...,...,...,...,...,...,...
2020-12-23 00:00:00-05:00,130.59,130.86,129.23,129.41,88223700,0.0,0.0
2020-12-24 00:00:00-05:00,129.76,131.88,129.54,130.40,54930100,0.0,0.0
2020-12-28 00:00:00-05:00,132.40,135.71,131.93,135.07,124486200,0.0,0.0
2020-12-29 00:00:00-05:00,136.41,137.14,132.75,133.27,121047300,0.0,0.0
2020-12-30 00:00:00-05:00,133.97,134.38,131.82,132.13,96452100,0.0,0.0

**2- period instead of start/end**

In [158]:
df = ticker.history ( period='max', rounding=True , actions=False , interval='1m')                       # 1 MINUTE interval
df

                             Open    High     Low   Close     Volume
Datetime
2022-11-07 09:30:00-05:00  137.11  138.22  137.09  137.85  5160318.0
2022-11-07 09:31:00-05:00  137.88  137.88  136.85  137.02   810692.0
2022-11-07 09:32:00-05:00  137.01  137.28  136.78  137.15   453574.0
2022-11-07 09:33:00-05:00  136.85  136.86  136.29  136.49   743820.0
2022-11-07 09:34:00-05:00  136.49  137.19  136.32  136.98   478466.0
...                           ...     ...     ...     ...        ...
2022-11-11 15:56:00-05:00  149.65  149.67  149.53  149.63   462355.0
2022-11-11 15:57:00-05:00  149.63  149.64  149.50  149.53   401885.0
2022-11-11 15:58:00-05:00  149.54  149.60  149.53  149.55   416882.0
2022-11-11 15:59:00-05:00  149.56  149.70  149.50  149.66  1289854.0
2022-11-11 16:00:00-05:00  149.70  149.70  149.70  149.70        0.0

[1949 rows x 5 columns]

In [159]:
df = ticker.history ( period='5d', rounding=True , actions=False , interval='1m', prepost=False)                       # Prepost - False ( just market hours)    True( Pre- Market-Post hours 5am-7 pm )
df

                             Open    High     Low   Close   Volume
Datetime
2022-11-07 09:30:00-05:00  137.11  138.22  137.09  137.85  5160318
2022-11-07 09:31:00-05:00  137.88  137.88  136.85  137.02   810692
2022-11-07 09:32:00-05:00  137.01  137.28  136.78  137.15   453574
2022-11-07 09:33:00-05:00  136.85  136.86  136.29  136.49   743820
2022-11-07 09:34:00-05:00  136.49  137.19  136.32  136.98   478466
...                           ...     ...     ...     ...      ...
2022-11-11 15:56:00-05:00  149.65  149.67  149.53  149.63   462355
2022-11-11 15:57:00-05:00  149.63  149.64  149.50  149.53   401885
2022-11-11 15:58:00-05:00  149.54  149.60  149.53  149.55   416882
2022-11-11 15:59:00-05:00  149.56  149.70  149.50  149.66  1289854
2022-11-11 16:00:00-05:00  149.70  149.70  149.70  149.70        0

[1949 rows x 5 columns]

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1949 entries, 2022-11-07 09:30:00-05:00 to 2022-11-11 16:00:00-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1949 non-null   float64
 1   High    1949 non-null   float64
 2   Low     1949 non-null   float64
 3   Close   1949 non-null   float64
 4   Volume  1949 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 91.4 KB

Crypto Currencies has no closing , Prepost = True

### **Multiple Stocks **

In [166]:
symbols= 'AAPL GM GOOG'                         # ' x y z '
tickers = yf.Tickers(symbols)                   #  Tickers()

In [167]:
df = tickers.history ( start='2020-12-31', rounding=True , interval='1d', actions=False )
df

[*********************100%***********************]  3 of 3 completed

             Close                  High                   Low                \
              AAPL     GM   GOOG    AAPL     GM   GOOG    AAPL     GM   GOOG
Date
2020-12-31  131.12  41.55  87.59  133.14  41.70  87.95  130.16  41.11  86.77
2021-01-04  127.87  40.42  86.41  132.03  42.02  88.03  125.26  40.05  85.39
2021-01-05  129.46  41.57  87.05  130.18  41.74  87.38  126.91  39.95  85.90
2021-01-06  125.10  42.88  86.76  129.50  43.75  87.40  124.88  41.76  84.95
2021-01-07  129.37  43.22  89.36  130.07  43.88  89.42  126.34  42.86  86.85
...            ...    ...    ...     ...    ...    ...     ...    ...    ...
2022-11-07  138.92  39.39  88.65  139.15  39.47  88.94  135.67  38.69  86.96
2022-11-08  139.50  39.05  88.91  141.43  39.51  90.40  137.49  38.51  87.65
2022-11-09  134.87  38.06  87.40  138.55  38.87  89.49  134.59  38.03  87.36
2022-11-10  146.87  39.74  94.17  146.87  40.60  94.55  139.50  38.86  91.65
2022-11-11  149.70  41.12  96.73  150.01  41.58  97.36  144.37  39.82  94.16

              Open                   Volume
              AAPL     GM   GOOG       AAPL        GM      GOOG
Date
2020-12-31  132.49  41.66  86.77   99116600  11101300  20238000
2021-01-04  131.94  41.85  87.88  143301900  15768100  38038000
2021-01-05  127.36  39.97  86.25   97664900  18045800  22906000
2021-01-06  126.21  41.82  85.13  155088000  22694900  52042000
2021-01-07  126.84  43.88  87.00  109578200  13625700  45300000
...            ...    ...    ...        ...       ...       ...
2022-11-07  137.11  39.36  87.34   83374600  11526900  26899900
2022-11-08  140.41  39.47  89.16   89908500  10946400  30172000
2022-11-09  138.50  38.55  88.54   74917800  10526200  26743900
2022-11-10  141.24  39.15  92.34  118854000  20197600  42371200
2022-11-11  145.82  39.86  94.71   93903800  13033000  30190917

[471 rows x 15 columns]

**In complex data , lets select the columns we want to work on**

In [168]:
idx = pd.IndexSlice
df.loc[:, idx['Close', ['AAPL', 'GM']]]        # All rows, Then 'Close' column ,then 'AAPL and GM' columns in 'CLose '

             Close
              AAPL     GM
Date
2020-12-31  131.12  41.55
2021-01-04  127.87  40.42
2021-01-05  129.46  41.57
2021-01-06  125.10  42.88
2021-01-07  129.37  43.22
...            ...    ...
2022-11-07  138.92  39.39
2022-11-08  139.50  39.05
2022-11-09  134.87  38.06
2022-11-10  146.87  39.74
2022-11-11  149.70  41.12

[471 rows x 2 columns]

In [169]:
# HOW TO GROUP BY    #  ( group_by parameters )

df = tickers.history ( start='2020-12-31', rounding=True , interval='1d', actions=False , group_by='tickers' )
df

[*********************100%***********************]  3 of 3 completed

               GM                                   AAPL                  \
             Open   High    Low  Close    Volume    Open    High     Low
Date
2020-12-31  41.66  41.70  41.11  41.55  11101300  132.49  133.14  130.16
2021-01-04  41.85  42.02  40.05  40.42  15768100  131.94  132.03  125.26
2021-01-05  39.97  41.74  39.95  41.57  18045800  127.36  130.18  126.91
2021-01-06  41.82  43.75  41.76  42.88  22694900  126.20  129.50  124.88
2021-01-07  43.88  43.88  42.86  43.22  13625700  126.84  130.07  126.34
...           ...    ...    ...    ...       ...     ...     ...     ...
2022-11-07  39.36  39.47  38.69  39.39  11526900  137.11  139.15  135.67
2022-11-08  39.47  39.51  38.51  39.05  10946400  140.41  141.43  137.49
2022-11-09  38.55  38.87  38.03  38.06  10526200  138.50  138.55  134.59
2022-11-10  39.15  40.60  38.86  39.74  20197600  141.24  146.87  139.50
2022-11-11  39.86  41.58  39.82  41.12  13033000  145.82  150.01  144.37

                                GOOG
             Close     Volume   Open   High    Low  Close    Volume
Date
2020-12-31  131.12   99116600  86.77  87.95  86.77  87.59  20238000
2021-01-04  127.87  143301900  87.88  88.03  85.39  86.41  38038000
2021-01-05  129.46   97664900  86.25  87.38  85.90  87.05  22906000
2021-01-06  125.10  155088000  85.13  87.40  84.95  86.76  52042000
2021-01-07  129.37  109578200  87.00  89.42  86.85  89.36  45300000
...            ...        ...    ...    ...    ...    ...       ...
2022-11-07  138.92   83374600  87.34  88.94  86.96  88.65  26899900
2022-11-08  139.50   89908500  89.16  90.40  87.65  88.91  30172000
2022-11-09  134.87   74917800  88.54  89.49  87.36  87.40  26743900
2022-11-10  146.87  118854000  92.34  94.55  91.65  94.17  42371200
2022-11-11  149.70   93903800  94.71  97.36  94.16  96.73  30190917

[471 rows x 15 columns]

## **How to download the FUNDAMENTAL DATA of Stock(s)**

In [170]:
symbol= 'AAPL'
ticker = yf.Ticker(symbol)

In [ ]:
ticker.info

In [172]:
ticker.info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'currentPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'coinMarketCapLink', 'regularMarketPrice', 'preMarketPrice', 'logo_url'])

In [174]:
pd.Series(ticker.info)

zip                                                                95014
sector                                                        Technology
fullTimeEmployees                                                 164000
longBusinessSummary    Apple Inc. designs, manufactures, and markets ...
city                                                           Cupertino
                                             ...
dayHigh                                                           150.01
coinMarketCapLink                                                   None
regularMarketPrice                                                 149.7
preMarketPrice                                                    145.86
logo_url                             https://logo.clearbit.com/apple.com
Length: 153, dtype: object

In [176]:
ticker.info['lastDividendValue']                    # Info in Info

0.23

In [178]:
data=ticker.history(period='5y')
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-13 00:00:00-05:00,41.245283,41.483008,41.221509,41.357014,67928400,0.0,0.0
2017-11-14 00:00:00-05:00,41.135920,41.240520,40.693752,40.731789,99130000,0.0,0.0
2017-11-15 00:00:00-05:00,40.406106,40.489311,40.028124,40.194530,116632400,0.0,0.0
2017-11-16 00:00:00-05:00,40.693751,40.857782,40.484555,40.674736,94550000,0.0,0.0
2017-11-17 00:00:00-05:00,40.660481,40.743686,40.327668,40.448906,87598000,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-07 00:00:00-05:00,137.110001,139.149994,135.669998,138.919998,83374600,0.0,0.0
2022-11-08 00:00:00-05:00,140.410004,141.429993,137.490005,139.500000,89908500,0.0,0.0
2022-11-09 00:00:00-05:00,138.500000,138.550003,134.589996,134.869995,74917800,0.0,0.0
2022-11-10 00:00:00-05:00,141.240005,146.869995,139.500000,146.869995,118854000,0.0,0.0
2022-11-11 00:00:00-05:00,145.820007,150.009995,144.369995,149.699997,93903800,0.0,0.0

In [180]:
ticker.actions

                           Dividends  Stock Splits
Date
2018-02-09 00:00:00-05:00     0.1575           0.0
2018-05-11 00:00:00-04:00     0.1825           0.0
2018-08-10 00:00:00-04:00     0.1825           0.0
2018-11-08 00:00:00-05:00     0.1825           0.0
2019-02-08 00:00:00-05:00     0.1825           0.0
2019-05-10 00:00:00-04:00     0.1925           0.0
2019-08-09 00:00:00-04:00     0.1925           0.0
2019-11-07 00:00:00-05:00     0.1925           0.0
2020-02-07 00:00:00-05:00     0.1925           0.0
2020-05-08 00:00:00-04:00     0.2050           0.0
2020-08-07 00:00:00-04:00     0.2050           0.0
2020-08-31 00:00:00-04:00     0.0000           4.0
2020-11-06 00:00:00-05:00     0.2050           0.0
2021-02-05 00:00:00-05:00     0.2050           0.0
2021-05-07 00:00:00-04:00     0.2200           0.0
2021-08-06 00:00:00-04:00     0.2200           0.0
2021-11-05 00:00:00-04:00     0.2200           0.0
2022-02-04 00:00:00-05:00     0.2200           0.0
2022-05-06 00:00:00-04:00     0.2300           0.0
2022-08-05 00:00:00-04:00     0.2300           0.0
2022-11-04 00:00:00-04:00     0.2300           0.0

In [181]:
ticker.dividends

Date
2018-02-09 00:00:00-05:00    0.1575
2018-05-11 00:00:00-04:00    0.1825
2018-08-10 00:00:00-04:00    0.1825
2018-11-08 00:00:00-05:00    0.1825
2019-02-08 00:00:00-05:00    0.1825
2019-05-10 00:00:00-04:00    0.1925
2019-08-09 00:00:00-04:00    0.1925
2019-11-07 00:00:00-05:00    0.1925
2020-02-07 00:00:00-05:00    0.1925
2020-05-08 00:00:00-04:00    0.2050
2020-08-07 00:00:00-04:00    0.2050
2020-11-06 00:00:00-05:00    0.2050
2021-02-05 00:00:00-05:00    0.2050
2021-05-07 00:00:00-04:00    0.2200
2021-08-06 00:00:00-04:00    0.2200
2021-11-05 00:00:00-04:00    0.2200
2022-02-04 00:00:00-05:00    0.2200
2022-05-06 00:00:00-04:00    0.2300
2022-08-05 00:00:00-04:00    0.2300
2022-11-04 00:00:00-04:00    0.2300
Name: Dividends, dtype: float64

In [191]:
#ticker.earnings
ticker.quarterly_earnings

              Revenue     Earnings
Quarter
4Q2021   123945000000  34630000000
1Q2022    97278000000  25010000000
2Q2022    82959000000  19442000000
3Q2022    90146000000  20721000000

In [185]:
ticker.splits

Date
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

In [192]:
ticker.quarterly_financials
#ticker.financials

,2022-09-24,2022-06-25,2022-03-26,2021-12-25
Research Development,6761000000.0,6797000000.0,6387000000.0,6306000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,24657000000.0,23066000000.0,30139000000.0,41241000000.0
Minority Interest,None,None,None,None
Net Income,20721000000.0,19442000000.0,25010000000.0,34630000000.0
Selling General Administrative,6440000000.0,6012000000.0,6193000000.0,6449000000.0
Gross Profit,38095000000.0,35885000000.0,42559000000.0,54243000000.0
Ebit,24894000000.0,23076000000.0,29979000000.0,41488000000.0
Operating Income,24894000000.0,23076000000.0,29979000000.0,41488000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-827000000.0,-719000000.0,-691000000.0,-694000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,3936000000.0,3624000000.0,5129000000.0,6611000000.0
Total Revenue,90146000000.0,82959000000.0,97278000000.0,123945000000.0
Total Operating Expenses,65252000000.0,59883000000.0,67299000000.0,82457000000.0
Cost Of Revenue,52051000000.0,47074000000.0,54719000000.0,69702000000.0
Total Other Income Expense Net,-237000000.0,-10000000.0,160000000.0,-247000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,20721000000.0,19442000000.0,25010000000.0,34630000000.0
Net Income Applicable To Common Shares,20721000000.0,19442000000.0,25010000000.0,34630000000.0

In [193]:
ticker.balance_sheet
#ticker.quarterly_balance_sheet

,2022-09-24,2021-09-25,2020-09-26,2019-09-28
Total Liab,3.020830e+11,2.879120e+11,2.585490e+11,2.480280e+11
Total Stockholder Equity,5.067200e+10,6.309000e+10,6.533900e+10,9.048800e+10
Other Current Liab,6.709400e+10,5.357700e+10,4.786700e+10,4.324200e+10
Total Assets,3.527550e+11,3.510020e+11,3.238880e+11,3.385160e+11
Common Stock,6.484900e+10,5.736500e+10,5.077900e+10,4.517400e+10
Other Current Assets,2.122300e+10,1.411100e+10,1.126400e+10,1.235200e+10
Retained Earnings,-3.068000e+09,5.562000e+09,1.496600e+10,4.589800e+10
Other Liab,3.839400e+10,4.305000e+10,4.610800e+10,5.050300e+10
Gains Losses Not Affecting Retained Earnings,-1.110900e+10,1.630000e+08,-4.060000e+08,-5.840000e+08
Other Assets,4.401100e+10,3.876200e+10,3.395200e+10,3.297800e+10
Cash,2.364600e+10,3.494000e+10,3.801600e+10,4.884400e+10
Total Current Liabilities,1.539820e+11,1.254810e+11,1.053920e+11,1.057180e+11
Short Long Term Debt,1.112800e+10,9.613000e+09,8.773000e+09,1.026000e+10
Other Stockholder Equity,-1.110900e+10,1.630000e+08,-4.060000e+08,-5.840000e+08
Property Plant Equipment,5.253400e+10,4.952700e+10,4.533600e+10,3.737800e+10
Total Current Assets,1.354050e+11,1.348360e+11,1.437130e+11,1.628190e+11
Long Term Investments,1.208050e+11,1.278770e+11,1.008870e+11,1.053410e+11
Net Tangible Assets,5.067200e+10,6.309000e+10,6.533900e+10,9.048800e+10
Short Term Investments,2.465800e+10,2.769900e+10,5.292700e+10,5.171300e+10
Net Receivables,6.093200e+10,5.150600e+10,3.744500e+10,4.580400e+10
Long Term Debt,9.895900e+10,1.091060e+11,9.866700e+10,9.180700e+10
Inventory,4.946000e+09,6.580000e+09,4.061000e+09,4.106000e+09
Accounts Payable,6.411500e+10,5.476300e+10,4.229600e+10,4.623600e+10

In [194]:
ticker.cashflow

,2022-09-24,2021-09-25,2020-09-26,2019-09-28
Investments,-9.560000e+09,-3.075000e+09,5.453000e+09,5.809300e+10
Change To Liabilities,9.926000e+09,1.400200e+10,-1.981000e+09,-2.548000e+09
Total Cashflows From Investing Activities,-2.235400e+10,-1.454500e+10,-4.289000e+09,4.589600e+10
Net Borrowings,-1.230000e+08,1.266500e+10,2.499000e+09,-7.819000e+09
Total Cash From Financing Activities,-1.107490e+11,-9.335300e+10,-8.682000e+10,-9.097600e+10
Change To Operating Activities,-8.387000e+09,-6.146000e+09,8.810000e+08,-8.960000e+08
Net Income,9.980300e+10,9.468000e+10,5.741100e+10,5.525600e+10
Change In Cash,-1.095200e+10,-3.860000e+09,-1.043500e+10,2.431100e+10
Repurchase Of Stock,-9.562500e+10,-9.252700e+10,-7.599200e+10,-6.971400e+10
Total Cash From Operating Activities,1.221510e+11,1.040380e+11,8.067400e+10,6.939100e+10
Depreciation,1.110400e+10,1.128400e+10,1.105600e+10,1.254700e+10
Other Cashflows From Investing Activities,-1.780000e+09,-3.520000e+08,-9.090000e+08,-1.078000e+09
Dividends Paid,-1.484100e+10,-1.446700e+10,-1.408100e+10,-1.411900e+10
Change To Inventory,1.484000e+09,-2.642000e+09,-1.270000e+08,-2.890000e+08
Change To Account Receivables,-1.823000e+09,-1.012500e+10,6.917000e+09,2.450000e+08
Other Cashflows From Financing Activities,-1.600000e+08,9.760000e+08,7.540000e+08,-1.050000e+08
Change To Netincome,1.004400e+10,2.985000e+09,6.517000e+09,5.076000e+09
Capital Expenditures,-1.070800e+10,-1.108500e+10,-7.309000e+09,-1.049500e+10
Issuance Of Stock,NaN,NaN,NaN,7.810000e+08

In [195]:
ticker.sustainability

                                     Value
2022-8
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           6.86
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               55
governanceScore                       9.18
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             16.68
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           14.68
peerGroup              Technology Hardware
smallArms                            False
environmentScore                      0.65
governancePercentile                  None
militaryContract                     False

In [196]:
ticker.recommendations

                                  Firm      To Grade From Grade Action
Date
2012-02-09 08:17:00  Canaccord Genuity           Buy              main
2012-03-08 07:33:00     FBN Securities    Outperform              main
2012-03-13 06:08:00          Jefferies           Buy              main
2012-03-14 06:13:00     Morgan Stanley    Overweight              main
2012-03-14 08:21:00  Canaccord Genuity           Buy              main
...                                ...           ...        ...    ...
2022-10-28 13:19:17            Wedbush    Outperform              main
2022-11-07 12:39:27           Barclays  Equal-Weight              main
2022-11-07 13:08:30  B of A Securities       Neutral              main
2022-11-08 12:14:23     Morgan Stanley    Overweight              main
2022-11-08 12:17:03                UBS           Buy              main

[871 rows x 4 columns]

In [197]:
ticker.calendar

                                    0                    1
Earnings Date     2023-01-25 10:59:00  2023-01-30 12:00:00
Earnings Average                 2.05                 2.05
Earnings Low                     1.89                 1.89
Earnings High                     2.2                  2.2
Revenue Average          126360000000         126360000000
Revenue Low              117857000000         117857000000
Revenue High             132365000000         132365000000

## **Option Data**

In [200]:
ticker.options     # calling

('2022-11-18',
 '2022-11-25',
 '2022-12-02',
 '2022-12-09',
 '2022-12-16',
 '2022-12-23',
 '2023-01-20',
 '2023-02-17',
 '2023-03-17',
 '2023-04-21',
 '2023-05-19',
 '2023-06-16',
 '2023-07-21',
 '2023-09-15',
 '2024-01-19',
 '2024-03-15',
 '2024-06-21',
 '2025-01-17')

In [204]:
# Expiration date in Calling Options

expiration_date= ticker.options[0]
expiration_date

'2022-11-18'

In [203]:
from requests.api import options
options= ticker.option_chain(expiration_date)

In [206]:
options.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL221118C00050000,2022-11-04 18:43:38+00:00,50.0,86.65,99.30,99.95,0.000000,0.000000,4.0,9.0,3.699220,True,REGULAR,USD
1,AAPL221118C00055000,2022-11-03 18:17:55+00:00,55.0,84.45,94.25,94.90,0.000000,0.000000,80.0,0.0,3.292971,True,REGULAR,USD
2,AAPL221118C00060000,2022-11-11 16:16:03+00:00,60.0,87.45,89.30,90.00,4.489998,5.412244,2.0,3.0,3.207033,True,REGULAR,USD
3,AAPL221118C00065000,2022-11-03 19:33:52+00:00,65.0,74.95,84.40,85.05,0.000000,0.000000,40.0,0.0,2.171880,True,REGULAR,USD
4,AAPL221118C00070000,2022-11-09 15:00:53+00:00,70.0,67.50,79.30,79.90,0.000000,0.000000,3.0,3.0,2.550785,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,AAPL221118C00260000,2022-11-03 13:30:00+00:00,260.0,0.01,0.00,0.01,0.000000,0.000000,1.0,1391.0,1.218754,False,REGULAR,USD
71,AAPL221118C00270000,2022-11-03 19:45:17+00:00,270.0,0.01,0.00,0.01,0.000000,0.000000,1.0,2624.0,1.312503,False,REGULAR,USD
72,AAPL221118C00280000,2022-11-08 15:22:05+00:00,280.0,0.01,0.00,0.01,0.000000,0.000000,1.0,1983.0,1.375003,False,REGULAR,USD
73,AAPL221118C00290000,2022-11-08 18:19:30+00:00,290.0,0.01,0.00,0.01,0.000000,0.000000,2.0,880.0,1.437503,False,REGULAR,USD
74,AAPL221118C00300000,2022-11-11 20:45:37+00:00,300.0,0.01,0.00,0.01,0.000000,0.000000,2.0,10889.0,1.500002,False,REGULAR,USD

In [207]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     75 non-null     object
 1   lastTradeDate      75 non-null     datetime64[ns, UTC]
 2   strike             75 non-null     float64
 3   lastPrice          75 non-null     float64
 4   bid                75 non-null     float64
 5   ask                75 non-null     float64
 6   change             75 non-null     float64
 7   percentChange      75 non-null     float64
 8   volume             72 non-null     float64
 9   openInterest       72 non-null     float64
 10  impliedVolatility  75 non-null     float64
 11  inTheMoney         75 non-null     bool
 12  contractSize       75 non-null     object
 13  currency           75 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(9), object(3)
memory usage: 7.8+ KB

In [208]:
options.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL221118P00050000,2022-11-08 18:20:05+00:00,50.0,0.01,0.00,0.01,0.0,0.0,2.0,3061.0,2.437504,False,REGULAR,USD
1,AAPL221118P00055000,2022-10-27 19:59:39+00:00,55.0,0.01,0.00,0.01,0.0,0.0,1044.0,2062.0,2.250004,False,REGULAR,USD
2,AAPL221118P00060000,2022-11-03 17:09:01+00:00,60.0,0.01,0.00,0.01,0.0,0.0,3.0,7105.0,2.062505,False,REGULAR,USD
3,AAPL221118P00065000,2022-10-27 19:46:18+00:00,65.0,0.02,0.00,0.01,0.0,0.0,49.0,11599.0,1.875001,False,REGULAR,USD
4,AAPL221118P00070000,2022-11-09 17:14:14+00:00,70.0,0.01,0.00,0.01,0.0,0.0,1.0,4889.0,1.750001,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,AAPL221118P00260000,2022-11-09 15:16:40+00:00,260.0,122.25,110.15,110.65,0.0,0.0,10.0,0.0,1.621096,True,REGULAR,USD
72,AAPL221118P00270000,2022-11-09 15:16:40+00:00,270.0,132.25,120.15,120.75,0.0,0.0,10.0,0.0,1.800782,True,REGULAR,USD
73,AAPL221118P00280000,2022-11-09 15:05:08+00:00,280.0,142.60,130.15,130.75,0.0,0.0,11.0,0.0,1.894532,True,REGULAR,USD
74,AAPL221118P00290000,2022-11-10 20:53:08+00:00,290.0,143.85,140.15,140.65,0.0,0.0,6.0,6.0,1.890626,True,REGULAR,USD
75,AAPL221118P00300000,2022-11-10 20:55:05+00:00,300.0,153.25,150.15,150.65,0.0,0.0,7.0,7.0,1.972656,True,REGULAR,USD